@import 'tailwindcss';
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }

  html {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
  }
}

:root {
  --background: #212121;
  --elementBackground: #121212;
  --foreground: #cccccc;
  --accent: #bb86fc;
  --accentHover: #bb86fcdd;
  --success: #03dac6;
  --successHover: #03dac6dd;
  --danger: #cf6679;
  --dangerHover: #cf6679dd;
  --warning: #dcab55;
  --warningHover: #dcab55dd;
  --info: #5ea0d6;
  --infoHover: #5ea0d6dd;
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'Fira Code', monospace;
}
